:root {
  --shadow-color: #e9cac3;
  --primary: #460160;
  --primary-light: #91618d;
  --primary-lighter:  #a582ab;
  --primary-shadow: #bea5c0;
  --light: #f9f5ef;
  --secondary: #fbe1ce;
}


* {
  box-sizing: border-box;
  margin: 0;
}

time {
  font-variant-numeric: tabular-nums;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 1.5rem;
}

body > * {
  max-width: 35rem;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

input {
  font: inherit;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  width: 100%;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

input {
  font: inherit;
  border-top-left-radius: calc(6em / 16) 50%;
  border-top-right-radius: calc(6em / 16) 50%;
  border-bottom-left-radius: calc(6em / 16) 50%;
  border-bottom-right-radius: calc(6em / 16) 50%;
  border: solid 0.125rem;
  font-weight:bold;
  min-width: 0;
  padding: 0.5rem 1rem;
  font-variant-numeric: tabular-nums;
  background: white;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; 
}

[type=number] {
  -moz-appearance: textfield;
}

button {
  font: inherit;
  appearance: none;
  border-top-left-radius: calc(6em / 16) 50%;
  border-top-right-radius: calc(6em / 16) 50%;
  border-bottom-left-radius: calc(6em / 16) 50%;
  border-bottom-right-radius: calc(6em / 16) 50%;
  border: solid 0.125rem white;
  background: var(--primary);
  color: var(--light);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0.25rem 0 var(--shadow-color);
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: sans-serif;
}

*:focus {
  /* Should contrast OK (3:1) with both primary and light */
  outline: solid 0.125rem var(--primary-light);
  outline-offset: 0.125rem;
}

/* Bootstrap's .sr-only */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-inline {
  display: inline;
}

.spaced > * + * {
  margin-top: 1.25rem;
}

.lead {
  text-align:center;
  font-size: 1.25rem;
}

.content {
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
  background: var(--light);
  box-shadow: 0 0.25rem 0 var(--shadow-color);

  font-size: 1.125rem;
  line-height: 1.75;

  padding: 1.5rem 2rem 3rem;
  position: relative;
  width: 100%;
}

.content > * + * {
  margin-top: 1.5rem;
}

.content__action {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.content__action::hover {
  box-shadow: 0 0.5rem 0 var(--shadow-color);
  transform: translate(-50%, -50%) translateY(-0.25rem);
}

.stepper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0;
  border-top-left-radius: calc(6em / 16) 50%;
  border-top-right-radius: calc(6em / 16) 50%;
  border-bottom-left-radius: calc(6em / 16) 50%;
  border-bottom-right-radius: calc(6em / 16) 50%;
  box-shadow: 0 0.25rem 0 var(--shadow-color);
  border: solid 0.125rem white;
}

.stepper button {
  min-width: 3.25rem;
  position: relative;
  z-index: 0;
}

.stepper .stepper__decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border: 0;
  box-shadow: none;
}

.stepper .stepper__increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border:0;
  box-shadow: none;
}

.stepper input {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.stepper > :focus {
  z-index: 1;
}
.stepper > :focus-within {
  z-index: 1;
}

.stepper--contained {
  max-width: 14rem;
  margin-left: auto;
  margin-right: auto;
}

.clearable-input {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  position: relative;
  z-index: 0;
}

.clearable-input > :focus {
  z-index: 1;
}

.clearable-input > * {
  grid-row: 1;
}

.clearable-input input {
  padding-right: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  grid-column: 1/-1;  
}

.clearable-input button {
  border-left: 0;
  border-radius: 0;
  color: inherit;
  background: white;
  box-shadow: none;
  border: solid 0.125rem;
  border-left: 0;
  border-right: 0;
}

.timer {
  background:var(--primary-lighter);
  padding: 0.5rem 1rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.25em;
  color: var(--primary);
}

.content .timer {
  margin-bottom: 1rem;
}

.stack {
  display: grid;
  justify-items: center;
}

.stack-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-content > .timer {
  margin: auto;
}

.stack > * {
  grid-area: 1/1;
  margin: 0;
}

.stack__overlay {
  --shadow-color: var(--primary-lighter);
  margin: 2rem;
  text-align: center;
  z-index: 0;
  width: 80%;
  background: var(--primary);
  color: white;
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
}

.stack__veil {
  background-color: var(--primary-lighter);
  opacity:0.25;
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.visibility--hidden {
  visibility: hidden;
}
