:root {
  --shadow-color: #e9cac3;
  --primary: #460160;
  --primary-light: #99649a;
  --primary-lighter:  #a582ab;
  --primary-shadow: #bea5c0;
  --light: #f9f5ef;
  --secondary: #fbe1ce;
}


* {
  box-sizing: border-box;
  margin: 0;
}

time {
  font-variant-numeric: tabular-nums;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 1.5rem;
}

body > * {
  max-width: 35rem;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

input {
  font: inherit;
}

button {
  font: inherit;
  appearance: none;
  border-top-left-radius: calc(6em / 16) 50%;
  border-top-right-radius: calc(6em / 16) 50%;
  border-bottom-left-radius: calc(6em / 16) 50%;
  border-bottom-right-radius: calc(6em / 16) 50%;
  border: solid 0.125rem white;
  background: var(--primary);
  color: var(--light);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0.25rem 0 var(--shadow-color);
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: sans-serif;
}

*:focus {
  outline: solid 0.125rem var(--primary);
  outline-offset: 0.125rem;
}

/* Bootstrap's .sr-only */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-inline {
  display: inline;
}

.spaced > * + * {
  margin-top: 1.25rem;
}

.lead {
  text-align:center;
  font-size: 1.25rem;
}

.content {
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
  background: var(--light);
  box-shadow: 0 0.25rem 0 var(--shadow-color);

  font-size: 1.125rem;
  line-height: 1.75;

  padding: 1.5rem 2rem 3rem;
  position: relative;
  width: 100%;
}

.content > * + * {
  margin-top: 1.5rem;
}

.content__action {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.content__action::hover {
  box-shadow: 0 0.5rem 0 var(--shadow-color);
  transform: translate(-50%, -50%) translateY(-0.25rem);
}



.inline-input {
  background: white;
  border: solid 2px var(--primary-light);
  border-radius: 0.25rem;
  color: inherit;
  text-align: right;
  padding: 0 0.25rem;
  width: 2.5rem;
  font-variant-numeric: tabular-nums;
  line-height: 1.25;
}

.timer {
  background:var(--primary-lighter);
  padding: 0.5rem 1rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.25em;
  color: var(--primary);
}

.content .timer {
  margin-bottom: 1rem;
}

.stack {
  display: grid;
  justify-items: center;
}

.stack-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-content > .timer {
  margin: auto;
}

.stack > * {
  grid-area: 1/1;
  margin: 0;
}

.stack__overlay {
  --shadow-color: var(--primary-lighter);
  margin: 2rem;
  text-align: center;
  z-index: 0;
  width: 80%;
  background: var(--primary);
  color: white;
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
}

.stack__veil {
  background-color: var(--primary-lighter);
  opacity:0.25;
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.visibility--hidden {
  visibility: hidden;
}
